.walletCard {
  background-color: black;
  width: 20rem;
  border-radius: 0.5rem;
  border: solid white;
  padding: 1rem 2rem;
  .wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .walletLogo {
      img {
        width: 5rem;
        height: 4rem;
      }
    }
    .walletName {
      font-weight: bold;
    }
  }
}
.connect {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mode {
    margin-right: 2rem;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
